<body>
<div class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar"><img class="logo" src="assets/images/logo.webp"/><h2 class="header">{{title}}</h2></div>
<div class="top">
  <tabset #staticTabs>
    <tab heading="GET XPATH FROM URL">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div>
              <label class="labelstyle">URL of web page to get XPATH</label>
            </div>
          </div>


          <div class="col-sm-9">
            <div class="form-inline">
              <div class="input-group col-lg-6  col-xs-8 col-sm-8 col-md-8 ipUrl">
                <input type="text" id="url" class="form-control" (keyup)="validate(urlInput.value)" #urlInput/>
              </div>
              <button type="button" id="btngetxpath" class="btn btn-primary" (click)="showxpath(urlInput.value)">Get XPATH</button>
            </div>
          </div>
        </div>
        <div class="divError" id="divError">URL is required!</div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div>
              <label class="labelstyle">Reload saved XPATH data at given date</label>
            </div>
          </div>

          <div class="col-sm-9">
            <div class="form-inline">
              <div class="form-group">
                <div class="form-group">
                  <div class="input-group">
                    <input bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig" [(bsValue)]="bsValue" class="form-control" type="text">
                    <div class="input-group-btn">
                      <button class="btn btn-primary" (click)="dp.show()"><i class=" fa fa-calendar"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </tab>


    <tab heading="GET XPATH FROM CONTENT WEBPAGE">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div>
              <label class="labelstyle">URL of web page to get XPATH</label>
            </div>
          </div>


          <div class="col-sm-9">
            <div class="form-inline">
              <div class="input-group col-lg-6  col-xs-8 col-sm-8 col-md-8 ipUrl">
                <input type="text" id="url2" class="form-control" (keyup)="validate2(urlInput2.value,contentInput.value)" #urlInput2/>
              </div>
              <button type="button" id="btngetxpath2" class="btn btn-primary" (click)="showxpath2(urlInput2.value,contentInput.value)">Get XPATH</button>
            </div>
          </div>
        </div>
        <div class="divError" id="divError1">URL is required!</div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div>
              <label class="labelstyle">Content of web page to get XPATH</label>
            </div>
          </div>

          <div class="col-sm-8">
            <textarea class="form-control" id="content" rows="4" cols="50" (keyup)="validate2(urlInput2.value,contentInput.value)"  #contentInput></textarea>
          </div>
        </div>
        <div class="divError" id="divError2">Content is required!</div>
      </div>
    </tab>
  </tabset>
</div>



<div class="bottom">

  <div id="savexpath" class="savexpath">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
      <div class="alert alert-success fade" role="alert" id="alertss">
        <strong id="labelMessage"></strong>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
      <button type="submit" class="btn btn-primary btnsave" (click)="savexpath()">Save</button>
    </div>
  </div>
  <iframe id="show" srcdoc=""><input type="text" name="a" width="300px" placeholder="xpath"></iframe>
</div>

<div class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar footer">© 2017 Magrabbit Company</div>

<div class="modal fade" bsModal #modal="bs-modal" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <img class='loading' src='assets/images/loading_apple.gif' alt='loading'/>
    </div>
  </div>
</div>

</body>
