.theme-dark-blue .bs-datepicker-head {
  background-color: #563d7c;
}
.theme-dark-blue .bs-datepicker-body table td.week span {
  color: #563d7c;
}
.theme-dark-blue .bs-datepicker-body table td span.selected {
  background: #563d7c;
}
